<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Caixa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-input type="text" placeholder="Produtos vendidos"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Data"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Forma de pagamento"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text"  placeholder="Hora"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button color="danger" (click)="fecharCaixa()" expand="block">
      Fechar Caixa
    </ion-button>
  </ion-toolbar>
</ion-footer>