<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="balanco">
      <ion-icon name="wallet"></ion-icon>
      <ion-label>Balanço</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="caixa">
      <ion-icon name="basket"></ion-icon>
      <ion-label>Caixa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="produtos">
      <ion-icon name="send"></ion-icon>
      <ion-label>Produtos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="minha-conta">
      <ion-icon name="person"></ion-icon>
      <ion-label>Minha Conta</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
